* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EDE8DC;
}

nav {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #697565;
    color: antiquewhite;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: right;

}

nav ul li a {
    color: black;
    text-decoration: none;
    color: antiquewhite;
}

nav h3 {
    margin-left: 50px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.37);
    overflow: hidden;
    width: 200px;
    height: 500px;
}

.product :hover {
    scale: 1.05;
}

.card h3 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card img {
    width: 100%;
}

span {
    color: green;
    font-weight: bold;
}

.all {
    display: flex;
}

aside {
    padding: 5%;
    background-color: #697565;
    color: antiquewhite;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul li:hover {
    color: #EDE8DC;
    scale: 1.1;
    cursor: pointer;
}

aside li {
    padding: 10px 0px;
    width: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search {
    width: 250px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.326);
}

.search-bar button {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    color: antiquewhite;
    font-size: 20px;
}